<header class="section">
  <nav class="sections-nav">
    <ul>
      <li>
        <button type="button" name="world">World</button>
      </li>
      <li>
        <button type="button" name="world">San Francisco</button>
      </li>
      <li>
        <button type="button" name="world">New York</button>
      </li>
      <li>
        <button type="button" name="world">Bootcamp Prep</button>
      </li>
      <li>
        <button type="button" name="world">Jumpstart</button>
      </li>
      <li>
        <button type="button" name="world">Online</button>
      </li>
      <li>
        <button type="button" name="world">Marketing</button>
      </li>
      <li>
        <button type="button" name="world">Sales</button>
      </li>
      <li>
        <button type="button" name="world">TalentMatch</button>
      </li>
      <li>
        <button type="button" name="world">Alumni</button>
      </li>
      <li>
        <a href="#">All</a>
      </li>
    </ul>
  </nav>
</header>
