html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  font-size: 50px;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: #e4f1f4;;
  list-style: none;
  font-family: 'Poiret One', cursive;
}

header {
  display: flex;
  font-size: 2em;
}

input {
  background: transparent;
  border: 1px black solid;
}

.widgets-container {
  position: absolute;
  left: 35%;
  top: 2%;
}

.widgets-container > * {
  padding-bottom: 50px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
