// Place all the styles related to the Bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.band-index {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.band-index-item {
  padding: 20px;
  margin: 20px 0;
  width: 235px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
