div {
  border: 5px solid black;
}

#first-div {
  height: 200px;
  width: 200px;
  padding: 50px;
  background-color: #39cccc;
}

#second-div {
  height: 200px;
  width: 200px;
  padding: 50px;
  background-color: #ff4136;
  box-sizing: border-box;
}

#third-div {
  min-height: 10px;
  width: 300px;
  background-color: yellow;
}

.image-1-container {
  width: 200px;
  height: 600px;
  background-color: blue;
}

.image-1-container img {
  width: 100%
}

.image-2-container {
  min-width: 200px;
  height: 600px;
  background-color: blue;
  display: inline-block;
}

p {
  background-color: #7fdbff;
  width: 200px;
}
