<h2>New Post!</h2>

<form class="" action="<%= posts_url %>" method="post">
  <%= render "shared/auth_token" %>

  <label>Title
    <input type="text" name="post[title]" value="">
  </label>

  <br>

  <label>URL
    <input type="text" name="post[url]" value="">
  </label>

  <br>

  <label>Content<br>
    <textarea name="post[content]" rows="8" cols="25"></textarea>
  </label>

  <br>
  <br>

  <h2>Select Subs!</h2>
  <% Sub.all.each do |sub| %>
  <label><%= sub.title %>
    <input type="checkbox" name="post[sub_ids][]" value="<%= sub.id %>">
    <br>
  </label>
  <% end %>

  <br><br>

  <input type="submit" value="Create Post">

</form>
